Microsoft.Tts.Offline/Config/FontCompiler.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/tts/toolsuite" xmlns="http://schemas.microsoft.com/tts/toolsuite">
  <xs:element name="fontCompiler">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="languageData" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="phoneSet" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="unitTable" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="ttsToSapiPhoneId" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="ttsToSapiVisemeId" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="cartQuestions" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="fontMeta" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="path" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="speaker" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:attribute name="language" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="versions" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="version">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="compress" type="compressValueType" use="required" />
                  <xs:attribute name="encoding" type="encodingValueType" use="required" />
                  <xs:attribute name="samplesPerSecond" type="samplesPerSecondValueType" use="required" />
                  <xs:attribute name="bytesPerSample" type="bytesPerSampleValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="scriptFile" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="fileList" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="wave16kDir" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="wave16kFilteredDir" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="epochDir" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="alignmentDir" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="dropUnitFile" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="holdUnitFile" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="mergeItems">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mergeItem" minOccurs="2" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence />
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="import" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="weightTable" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="file" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="path" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="cartTrain" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
            </xs:sequence>
            <xs:attribute name="splitLevel" type="xs:unsignedInt" />
            <xs:attribute name="minCandidates" type="xs:unsignedInt" />
          </xs:complexType>
        </xs:element>
        <xs:element name="outputDir" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="dropFileList" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence />
            <xs:attribute name="path" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="domainList" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
            </xs:sequence>
            <xs:attribute name="path" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="workSite" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="genderValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="compressValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unc" />
      <xs:enumeration value="Dmo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="encodingValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pcm" />
      <xs:enumeration value="Mulaw" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="samplesPerSecondValueType">
    <xs:restriction base="xs:unsignedInt">
      <xs:enumeration value="8000" />
      <xs:enumeration value="16000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bytesPerSampleValueType">
    <xs:restriction base="xs:unsignedByte">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>