Microsoft.Tts.Offline/Config/SentenceList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/tts/toolsuite" xmlns="http://schemas.microsoft.com/tts/toolsuite">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sentences">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sentence" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="sid" type="xs:string" />
                  <xs:attribute name="error" type="xs:string" />
                  <xs:attribute name="desc" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>