Microsoft.Tts.Offline/Config/UnitListDictionary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/tts/toolsuite" xmlns="http://schemas.microsoft.com/tts/toolsuite">
  <xs:element name="config">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="unitList" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="units">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="unit" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="sid" type="xs:string" use="required" />
                        <xs:attribute name="index" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="error" type="xs:string" use="optional" />
                        <xs:attribute name="desc" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="language" type="xs:string" use="required" />
            <xs:attribute name="type" type="UnitListType" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="UnitListType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Drop" />
      <xs:enumeration value="Hold" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>