Microsoft.Tts.Offline/Config/WaveNorm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/tts/toolsuite" xmlns="http://schemas.microsoft.com/tts/toolsuite">
  <xs:element name="waveNormConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scriptPath" type="xs:string" />
        <xs:element name="fileListMap" type="xs:string" />
        <xs:element name="epochDir" type="xs:string" />
        <xs:element name="segmentDir" type="xs:string" />
        <xs:element name="waveDir" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="languageData" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="phoneSet" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="unitTable" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="path" type="xs:string" />
            <xs:attribute name="language" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="waveNormDir" type="xs:string" />
        <xs:element name="midtermDir" type="xs:string" />
        <xs:element name="overflowAllowed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>